process {	
    withName:gctb_sbayesS {
    	disk = '500.GB'
	memory = '128.GB'
        container = 'hubentu/gctb:2.05beta'
    }

    withName:prepare_ma {
    	disk = '500.GB'
	container = 'rocker/tidyverse'
    }
}

profiles {
    docker {
        docker.enabled = true
    }

    singularity {
        singularity.enabled = true
    }
}
